*
{
  font-family: sans-serif;
}

html, body, #app {
    height: 100%;
  }

#app {
min-height: 100%;
/*display: flex;
flex-direction: column;*/
}

.icon
{
  color: #47b181;
}

@media screen and (max-width: 768px) {
#menu-toggle:checked + .nav-menu {
    display: block;
}
}