html, body, #app {
    height: 100%;
  }

#app {
min-height: 100%;
/*display: flex;
flex-direction: column;*/
}

span
{
  color: #47b181;
}

ul
{
  color: red;
  /*color: #144339;*/
}

@media screen and (max-width: 768px) {
#menu-toggle:checked + .nav-menu {
    display: block;
}
}